@use '../../styles/spacing.module.scss' as spaces;
@use '../../styles/colors.module.scss' as colors;

.header {
  padding: spaces.$large-space spaces.$x-large-space;
  background-color: colors.$brand-color;
}

.header-content-wrapper {
  display: flex;
  gap: spaces.$x-large-space;
}

.header-search-box {
  flex-grow: 1;
}
