@use '../../styles/spacing.module.scss' as spaces;

.form {
  display: flex;
  height: 34px;
}

.form-text-box {
  flex-grow: 1;
  padding: spaces.$small-space spaces.$large-space;
}

.form-search-button {
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}
