@use '../../styles/spacing.module.scss' as spaces;
@use '../../styles/typography.module.scss' as typography;
@use '../../styles/colors.module.scss' as colors;

.form {
  display: flex;
}

.form-text-box {
  font-size: typography.$text-large;
  flex-grow: 1;
  padding: spaces.$small-space spaces.$large-space;
}

.form-search-button {
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$default-background-color;
}
