@use '../../styles/spacing.module.scss' as spacing;
@use '../../styles/typography.module.scss' as typography;
@use '../../styles/breakpoints.module.scss' as breakpoints;

.item-detail {
  color: #363636;
}

.item-detail_title {
  font-size: typography.$text-large-2xl;
  margin-top: spacing.$small-space;
  margin-bottom: spacing.$x4-large-space;
}

.item-detail_price {
  font-size: typography.$text-large-5xl;
}

@media (max-width: breakpoints.$small-mobile-breakpoint) {
  .item-detail_title {
    margin-bottom: spacing.$medium-space;
  }
}
