@use '../../styles/spacing.module.scss' as spacing;
@use '../../styles/typography.module.scss' as typography;
@use '../../styles/breakpoints.module.scss' as breakpoints;
@use '../../styles/colors.module.scss' as colors;

.item-detail {
  display: flex;
  flex-direction: column;
  color: colors.$default-text-color;
}

.item-detail_title {
  font-size: typography.$text-large-2xl;
  margin-top: spacing.$small-space;
  margin-bottom: spacing.$x4-large-space;
}

.item-detail_price {
  font-size: typography.$text-large-5xl;
  margin-bottom: spacing.$x4-large-space;
}

.item-detail_button {
  background-color: colors.$primary-button-color;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: typography.$text-large-xl;
  padding: spacing.$large-space;

  &:hover {
    background-color: colors.$primary-button-color-hover;
  }
}

@media (max-width: breakpoints.$small-mobile-breakpoint) {
  .item-detail_title {
    margin-bottom: spacing.$medium-space;
  }

  .item-detail_price {
    margin-bottom: spacing.$medium-space;
  }
}
