@use '../../styles/spacing.module.scss' as spacing;
@use '../../styles/typography.module.scss' as typography;

.card {
  display: flex;
  gap: spacing.$medium-space;
}

.card-detail {
  color: #363636;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: typography.$text-large;
  gap: spacing.$medium-space;
  padding-top: spacing.$medium-space;
}

.card-item_price {
  font-size: typography.$text-large-2xl;
  display: flex;
  gap: spacing.$medium-space;
}

.card-item_location {
  align-items: center;
  color: #717171;
  display: flex;
  min-width: 8.25rem;
}
