$text-xs: 0.5rem;
$text-small: 0.75rem;
$text-base: 1rem;
$text-large: 1.25rem;
$text-large-xl: 1.5rem;
$text-large-2xl: 1.75rem;
$text-large-3xl: 2rem;
$text-large-4xl: 2.25rem;
$text-large-5xl: 2.5rem;

$font-weight-normal: 400;
$font-weight-bold: 700;
